<!-- Partial for the nav bar to make it easier to add to pages -->
<div class="topnav">
    <a class="active" href="./">Home</a>
    <a href="./about">About</a>
    <a href="./search">Search</a>
    <a href="./list">List Food</a>
    <a href="./register">Register</a>
    <a href="./listusers">List Users</a>
    <a href="./login">Login</a>
    <a href="./logout">Logout</a>
    <a href="./deleteuser">Delete account</a>
    <a href="./food">Add new Food</a>
    <a href="./update">Update Food</a>
</div>
