<!doctype html>
<html>
  <head>
    <title>Account Deletion <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%></h1>
    <h2>Enter your username below to delete your account:</h2>
    <form method="POST" action="/deleted">
        
        <p>Username: <input id="user" type="text" name="user" value="username" /></p>

        <input type="submit" value="Delete" />
      </form>
      <button> <a href='/'>Home page </a></button>
  </body>
</html>