<!doctype html>
<html>
  <head>
    <title>About <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=siteName%></h1>
    <%- include('partials/navbar') %>
    <h3> Organization: Goldsmiths UOL </h3>
    <h3> Qualification: BSc Computer Science </h3>
    <h3> Developer: Umar Sultan </h3>
    <p>Track your diet with our simple dietary logging tools.
      <br> Create an account with us and log details for all your ingredients in our database.
      <br> Edit these details whenever you want. Check out other peoples ingredient info with our collective database.
      <br> Delete them or your account if you no longer need them.
    </p>
  </body>
</html>
