<!doctype html>
<html>
  <head>
    <title>Search <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Search <%=siteName%></h1>
    <%- include('partials/navbar') %>
    <form action="/update-result" method="GET">
      <p>What food details do you want to update?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>